<footer class="footer">
	<div class="footer-main-panel">
		<div class="inner-wrap">
			<div class="logo-inner-wrap">
				<div class="logo-wrap">
					<div class="logo">
						<img src="./index_files/logo.svg" alt="CHUV CHAV">
					</div>
				</div>
				<div class="info-wrap">
					<p>Российский производитель сливочных ирисок с гималайской солью с&nbsp;2018&nbsp;года</p>
				</div>
			</div>
			<div class="contacts-inner-wrap">
				<div class="cnt-wrap">
					<a href="" class="link-phone">+7 (999) 849-39-53</a>
					<div class="link-wrap">
						<a href="#newPartnerModal" data-toggle="modal" data-target="#newPartnerModal">По вопросам
							сотрудничества</a>
					</div>
				</div>
				<div class="cnt-wrap">
					<a href="mailto:chuvchav@yahoo.com" class="link-email">chuvchav@yahoo.com</a>
				</div>
			</div>
			<div class="menu-inner-wrap">
				<div class="menu-wrap">
					<ul class="menu">
						<li>
							<a href="/toffee/">Ириски</a>
						</li>
						<li>
							<a href="/shop/">Интернет-магазин</a>
						</li>
					</ul>
					<ul class="menu">
						<li>
							<a href="/bussines/">Бизнесу</a>
						</li>
						<li>
							<a href="/map/">Карта Чув-Чав</a>
						</li>
						<li>
							<a href="/contacts/">Контакты</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-pays-panel">
		<div class="inner-wrap">
			<div class="panel-title">Принимаем к оплате:</div>
			<div class="panel-items">
				<div class="footer-pay">
					<img src="./img/01.svg" alt="">
				</div>
				<div class="footer-pay">
					<img src="./img/02.svg" alt="">
				</div>
				<div class="footer-pay">
					<img src="./img/03.svg" alt="">
				</div>
				<div class="footer-pay">
					<img src="./img/04.svg" alt="">
				</div>
				<div class="footer-pay">
					<img src="./img/05.svg" alt="">
				</div>
				<div class="footer-pay">
					<img src="./img/06.svg" alt="">
				</div>
				<div class="footer-pay">
					<img src="./img/07.svg" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="footer-info-panel">
		<div class="inner-wrap">
			<div class="info-wrap">2025. Все права защищены. <a href="/privacy-policy/"
					class="link-main">Политика&nbsp;конфиденциальности</a></div>
			<div class="studio-wrap">
				<a href="https://webuspex.info" target="_blank">Сделано ВебУспех</a>
			</div>
		</div>
	</div>
</footer>