<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<div class="logo">
				<img src="./index_files/logo.svg" alt="CHUV CHAV">
			</div>
		</div>
		<div class="popup-menu-inner-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu js-btn-popup-toggle"></a>
			<div class="menu-content-block js-popup-block">
				<div class="menu-wrap">
					<ul class="menu">
						<li><a href="">О нас</a></li>
						<li><a href="">Бизнесу</a></li>
						<li><a href="">Интернет-магазин</a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</div>
				<div class="phone-wrap">
					<a href="" class="link-phone">+7 (999) 849-39-53</a>
				</div>
			</div>
		</div>
		<div class="actions-wrap">
			<div class="action-wrap action-user">
				<a href="/my/" class="btn-action-ico ico-user"></a>
			</div>
			<div class="action-wrap action-search">
				<a href="/shop/?q" class="btn-action-ico ico-search"></a>
			</div>
			<div class="action-wrap action-cart">
				<div id="bx_basketFKauiI" style="display: flex"><a href="/cart/" class="btn-action-cart">
						<span class="btn-action-ico ico-cart"></span>
						<span class="button-title">
							<span class="button-price">200 ₽</span>
							<span class="button-count">1 шт</span>
						</span>
					</a></div>
			</div>
		</div>
	</div>
</header>