@keyframes loader {
    0% {
        transform: translate(6px, 40px) scale(0);
    }
    25% {
        transform: translate(6px, 40px) scale(0);
    }
    50% {
        transform: translate(6px, 40px) scale(1);
    }
    75% {
        transform: translate(40px, 40px) scale(1);
    }
    100% {
        transform: translate(74px, 40px) scale(1);
    }
}

@keyframes loader-r {
    0% {
        transform: translate(74px, 40px) scale(1):
    }
    100% {
        transform: translate(74px, 40px) scale(0);
    }
}

@keyframes loader-c {
    0% {
        background: #8cd0e5
    }
    25% {
        background: #de786a
    }
    50% {
        background: #826b88
    }
    75% {
        background: #376888
    }
    100% {
        background: #8cd0e5
    }
}

.preloader div {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(40px, 40px) scale(1);
    background: #8cd0e5;
    animation: loader 2.2222222222222223s infinite cubic-bezier(0, 0.5, 0.5, 1);
}

.preloader div:nth-child(1) {
    background: #376888;
    transform: translate(74px, 40px) scale(1);
    animation: loader-r 0.5555555555555556s infinite cubic-bezier(0, 0.5, 0.5, 1), loader-c 2.2222222222222223s infinite step-start;
}

.preloader div:nth-child(2) {
    animation-delay: -0.5555555555555556s;
    background: #8cd0e5;
}

.preloader div:nth-child(3) {
    animation-delay: -1.1111111111111112s;
    background: #376888;
}

.preloader div:nth-child(4) {
    animation-delay: -1.6666666666666665s;
    background: #826b88;
}

.preloader div:nth-child(5) {
    animation-delay: -2.2222222222222223s;
    background: #de786a;
}

.preloader-spinner {
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.35);
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    align-content: center;
}

.preloader {
    width: 100px;
    height: 100px;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
    margin: 0 auto;
    background: transparent;
}

.preloader div {
    box-sizing: content-box;
}